/projects/ble/SensorTagFusion/CC2541DB/settings
/projects/ble/SensorTagFusion/CC2541DB/CC2541DK-Sensor
/projects/ble/SensorTagFusion/CC2541DB/CC2541DK-Sensor-OAD-ImgA
/projects/ble/SensorTagFusion/CC2541DB/CC2541DK-Sensor-OAD-ImgB
