/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.CC2541DK-Sensor-OAD-ImgA.cspy.bat
/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.CC2541DK-Sensor-OAD-ImgA.driver.xcl
/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.CC2541DK-Sensor-OAD-ImgA.general.xcl
/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.CC2541DK-Sensor-OAD-ImgB.cspy.bat
/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.CC2541DK-Sensor-OAD-ImgB.driver.xcl
/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.CC2541DK-Sensor-OAD-ImgB.general.xcl
/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.CC2541DK-Sensor.cspy.bat
/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.CC2541DK-Sensor.driver.xcl
/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.CC2541DK-Sensor.general.xcl
/projects/ble/SensorTagFusion/CC2541DB/settings/SensorTag.wspos
